<?xml version="1.0" encoding="UTF-8" ?>

  <widget xmlns = "http://www.w3.org/ns/widgets"  xmlns:gap = "http://phonegap.com/ns/1.0"
          id = "com.SmartNCCMobile.MULTIUSER" version = "9.3" versionCode = "93" > 

  <name>SmartNCCMobile APP</name>
  <description>Piattaforma MOBILE SMARTNCC</description>
  <author href="http://www.gd-soft.it" email="info@gd-soft.it">GD-SOFT S.R.L.</author>

  <preference name="phonegap-version" value="cli-5.2.0" />
  <preference name="SplashScreen" value="screen"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="SplashScreen" value="splash" /> 
  <preference name="SplashScreenDelay" value="4000" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />

  <plugin name="com.phonegap.plugins.barcodescanner" source="pgb" spec="2.2.0" />
  <!--
  <plugin name="org.apache.cordova.splashscreen" source="pgb" spec="1.0.0" />
  <plugin name="com.evothings.ble" source="pgb" spec="1.0.0" />
  -->
  <plugin name="cordova-plugin-geolocation" />
  <plugin name="cordova-plugin-device" source="pgb" spec="1.0.1" />
  <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
  <plugin name="cordova-plugin-legacy-whitelist" /> 

  <!-- <gap:plugin name="cordova-plugin-mauron85-background-geolocation" source="npm"/>-->
  
  <!--<gap:plugin name="com.megster.cordova.bluetoothserial" version="0.3.3" />-->
  <!-- non compatibile cli-6.1.0 <gap:plugin name="org.apache.cordova.geolocation" />-->
  <!-- non compatibile cli-6.1.0 <gap:plugin name="org.apache.cordova.device"/>-->  <!--inutile <plugin name="fi.avaus.cordova.geolocation" spec="0.3.11" source="npm" />-->
  <!--inutile <preference name="android-minSdkVersion" value="14" />-->
  <!--varificare <gap:plugin name="cordova-plugin-battery-status" source="npm"/>-->
  <!--verificare <gap:plugin name="cordova-plugin-network-information" spec="1.0.1" source="npm"/>-->
  <!-- provato non funziona <gap:plugin name="de.appplant.cordova.plugin.background-mode"  />-->
  <!-- provato non funziona <gap:plugin name="cordova-plugin-background-app" spec="^2.0.0" />-->
  
  
  
  
  <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    <false/>
  </gap:config-file>

  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  
   
  <icon src="images/icon.png"/>
  
  <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="ldpi" />
  <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="xhdpi" />
  <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="xxhdpi" />
  <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
  
  <icon src="images/icon57X57.png" gap:platform="ios" width="50" height="50" /> 
  <icon src="images/icon57X57.png" gap:platform="ios" width="40" height="40" /> 
  <icon src="images/icon57X57.png" gap:platform="ios" width="57" height="57" />
  <icon src="images/icon57X57.png" gap:platform="ios" width="72" height="72" />
  <icon src="images/icon76X76.png" gap:platform="ios" width="76" height="76" />
  <icon src="images/icon114X114.png" gap:platform="ios" width="114" height="114" />
  <icon src="images/icon120X120.png" gap:platform="ios" width="120" height="120" />
  <icon src="images/icon152X152.png" gap:platform="ios" width="152" height="152" />
  
  <gap:splash src="splash-portrait.png" />
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="320" height="568" />
  <gap:splash src="splash.png" gap:platform="ios" width="568" height="320" />
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="splash.png" gap:platform="ios" width="480" height="320" />
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="splash.png" gap:platform="ios" width="960" height="640" />
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="splash.png" gap:platform="ios" width="1024" height="768" />
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="750" height="1334" />
  <gap:splash src="splash.png" gap:platform="ios" width="1334" height="750" />
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="1496" height="2048" />
  <gap:splash src="splash.png" gap:platform="ios" width="2048" height="1496" />
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="1536" height="2048" />
  <gap:splash src="splash.png" gap:platform="ios" width="2048" height="1536" />
  
  <icon platform="winphone" width="44" height="44" src="images/icon.png" />
  <icon platform="winphone" width="106" height="106" src="images/icon.png" />
  <icon platform="winphone" width="150" height="150" src="images/icon.png" />
  <icon platform="winphone" width="360" height="360" src="images/icon.png" />
  <icon platform="winphone" width="71" height="71" src="images/icon.png" />
  <icon platform="winphone" width="170" height="170" src="images/icon.png" />
  <icon platform="winphone" width="310" height="150" src="images/icon.png" />
  <icon platform="winphone" width="744" height="360" src="images/icon.png" />
  <splash platform="winphone" width="1152" height="1920" src="splash-portrait.png" />
  
  
  <!--non funziona in caricamento 
  <gap:splash src="splash-portrait.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="splash.png" gap:platform="ios" width="1136" height="640" />
  -->


  <allow-navigation href="*" />
  <allow-intent href="*" />
  <access origin="*" />


</widget>
