<?xml version="1.0" encoding="UTF-8" ?>

  <widget xmlns = "http://www.w3.org/ns/widgets"  xmlns:gap = "http://phonegap.com/ns/1.0"
          id = "com.SmartNCCMobile.MULTIUSER" version = "10.01" versionCode = "1001" > 

  <name>SmartNCCMobile APP</name>
  <description>Piattaforma MOBILE SMARTNCC</description>
  <author href="http://www.gd-soft.it" email="info@gd-soft.it">GD-SOFT S.R.L.</author>

  
  
  <!-- problema android no GPS Background <preference name="phonegap-version" value="cli-5.4.1" /> -->
  <!-- problema iOS apre link fuori APP non firma WP8 <preference name="phonegap-version" value="cli-6.1.0" /> -->
  
  <preference name="SplashScreen" value="screen"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="SplashScreen" value="splash" /> 
  <preference name="SplashScreenDelay" value="4000" />
  <!--<preference name="orientation" value="portrait" />-->
  <preference name="fullscreen" value="true" />

  <!-- funzionante su cli-5.4.1 <gap:plugin namde="de.appplant.cordova.plugin.background-mode" version="0.6.4" source="npm"/>-->
  
  <platform name="android">
    <preference name="phonegap-version" value="cli-6.1.0" />
    <preference name="android-build-tool" value="gradle" />
    <plugin name="phonegap-plugin-push" source="npm">
      <param name="SENDER_ID" value="236799555977" />
    </plugin> 
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.4"  source="npm"/>
    <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.4" source="npm"/>
  </platform>
  
  <platform name="ios">
    <!--<preference name="phonegap-version" value="cli-6.1.0" />-->
    <preference name="phonegap-version" value="cli-5.4.1" />
    <plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" >
      <param name="SENDER_ID" value="236799555977" />
    </plugin> 
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.4"  source="npm"/>
    <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.4" source="npm"/>
  </platform>
  
  <platform name="winphone">
    <preference name="phonegap-version" value="cli-5.4.1" />
    <preference name="android-build-tool" value="gradle" />
    <plugin name="phonegap-plugin-push" source="npm">
      <param name="SENDER_ID" value="236799555977" />
    </plugin> 
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.4"  source="npm"/>
    <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.4" source="npm"/>
  </platform>
  
  <plugin name="com.phonegap.plugins.barcodescanner" source="npm" spec="2.2.0" />
  <plugin name="org.apache.cordova.splashscreen" source="npm" />
  <!--<plugin name="com.evothings.ble" source="npm" spec="1.0.0" />-->
  <plugin name="com.evothings.ble" source="npm" spec="1.2.0"/>
  <plugin name="cordova-plugin-geolocation" />
  <plugin name="cordova-plugin-device" source="npm" spec="1.0.1" />
  
  <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
  <plugin name="cordova-plugin-legacy-whitelist" /> 
  <gap:plugin name="cordova-plugin-appinfo" source="npm"/>
  <gap:plugin name="cordova-plugin-battery-status" source="npm"/>
  <gap:plugin name="cordova-plugin-network-information" spec="1.0.1" source="npm"/>
  <plugin name="cordova-background-geolocation-lt" source="npm" />
  <gap:plugin name="cordova-plugin-badge" source="npm" />
  <gap:plugin name="cordova-plugin-file" source="npm" />
  
 

  <!-- compatibile solo con Android cli-6.1.0 <gap:plugin name="cordova-plugin-mauron85-background-geolocation" source="npm"/> -->
  
  <!-- bluettoth standard da provare <gap:plugin name="com.megster.cordova.bluetoothserial" version="0.3.3" />-->
  <!-- non compatibile cli-6.1.0 <gap:plugin name="org.apache.cordova.geolocation" />-->
  <!-- non compatibile cli-6.1.0 <gap:plugin name="org.apache.cordova.device" spec="1.1.2" source="npm"/>-->  
  <!--inutile <plugin name="fi.avaus.cordova.geolocation" spec="0.3.11" source="npm" />-->
  
  <!-- provato non funziona iOS <gap:plugin name="de.appplant.cordova.plugin.background-mode"  />-->
  <!-- provato non funziona iOS <gap:plugin name="cordova-plugin-background-app" spec="^2.0.0" />-->
  
  
  <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    <false/>
  </gap:config-file>
  
  <gap:config-file platform="ios" parent="ITSAppUsesNonExemptEncryption" mode="add">
    <false/>
  </gap:config-file>

  <feature name="http://api.phonegap.com/1.0/device"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  
   
  <icon src="images/icon.png"/>
  <gap:splash src="splash.png" />

  <platform name="ios">
    <icon src="images/icon57X57.png" gap:platform="ios" width="50" height="50" /> 
    <icon src="images/icon57X57.png" gap:platform="ios" width="40" height="40" /> 
    <icon src="images/icon57X57.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/icon76X76.png" gap:platform="ios" width="76" height="76" />
    <icon src="images/icon120X120.png" gap:platform="ios" width="120" height="120" />
    <icon src="images/icon152X152.png" gap:platform="ios" width="152" height="152" />
    
    <gap:splash src="splash-portrait.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash.png" gap:platform="ios" width="480" height="320" />
    
    <gap:splash src="splash-portrait.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash.png" gap:platform="ios" width="960" height="640" />
  
    <gap:splash src="splash-portrait.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="splash.png" gap:platform="ios" width="2048" height="1536" />
    
    <gap:splash src="splash-portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="splash.png" gap:platform="ios" width="1024" height="768" />
    
    <gap:splash src="splash-portrait.png" gap:platform="ios" width="1496" height="2048" />
    <gap:splash src="splash.png" gap:platform="ios" width="2048" height="1496" />
    
    <gap:splash src="splash-portrait.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash.png" gap:platform="ios" width="1136" height="640" />
  </platform>

  <platform name="android">
    <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="images/icona_smartncc_mobile.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
    
    <splash src="splash-portrait.png" platform="android" qualifier="ldpi" />
    <splash src="splash-portrait.png" platform="android" qualifier="mdpi" />
    <splash src="splash-portrait.png" platform="android" qualifier="hdpi" />
    <splash src="splash-portrait.png" platform="android" qualifier="xhdpi" />
    <splash src="splash-portrait.png" platform="android" qualifier="fr-xhdpi" />
    <splash src="splash-portrait.png" platform="android" qualifier="port-xxhdpi" />
    <splash src="splash.png" platform="android" qualifier="land-xxhdpi" />
  </platform>

  <platform name="winphone">
    <splash src="splash-portrait.png" />
    <splash width="1152" height="1920" src="splash-portrait.png" />
  </platform>

  <allow-navigation href="*" />
  <allow-intent href="*" />
  <access origin="*" />


</widget>
